<style>
  .switcher {
   font-size: 10pt;
   text-align: left;
   cursor: pointer;
   overflow: hidden;
   width: 163px;
   line-height: 17px;
   padding-top: 0px;
 }
 .switcher a {
   text-decoration: none;
   display: block;
   font-size: 10pt;
   box-sizing: content-box;
 }
 .switcher a img {
   vertical-align: middle;
   display: inline;
   border: 0;
   padding: 0;
   margin: 0;
   opacity: 0.8;
 }
 .switcher a:hover img {
   opacity: 1;
 }
 .switcher .selected {
   background: #FFFFFF url(//cdn.gtranslate.net/shopify/assets/switcher.png) repeat-x;
   position: relative;
   z-index: 9999;
 }
 .switcher .selected a {
   background: url(//cdn.gtranslate.net/shopify/assets/arrow_down.png) 146px center no-repeat;
   color: #666666;
   padding: 3px 5px;
   width: 151px;
 }
 .switcher .selected a.open {
   background-image: url(//cdn.gtranslate.net/shopify/assets/arrow_up.png);
 }
 .switcher .selected a:hover {
   background: #F0F0F0 url(//cdn.gtranslate.net/shopify/assets/arrow_down.png) 146px center no-repeat;
 }
 .switcher .option {
   max-height: unset;
   overflow-y: auto;
   overflow-x: hidden;
   left: 0;
   display: none;
 }
 .switcher .option a {
   color: #000;
   padding: 7px 12px;
   display: inline-block;
   width: 100%;
 }
 .switcher .option::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
   border-radius: 5px;
   background-color: #F5F5F5;
 }
 .switcher .option::-webkit-scrollbar {
   width: 5px;
 }
 .switcher .option::-webkit-scrollbar-thumb {
   border-radius: 5px;
   -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
   background-color: #888;
 }
 #goog-gt-tt, .goog-te-banner-frame, #google_translate_element2 {
   display: none !important;
 }
 body {
   top: 0 !important;
 }
 /* RTL support for languages like Arabic */
 .switcher[dir="rtl"] {
   direction: rtl;
   text-align: right;
 }
</style>
<div class="switcher notranslate" role="combobox" aria-expanded="false">
       <div class="selected site-nav__anchor" aria-controls="language-options">
         <a href="#" onclick="return false;" aria-label="Select language"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/en.png" height="16" width="16" alt="en" /> English</a>
       </div>
       <div class="option" id="language-options" role="listbox">
         <a href="#" onclick="doGTranslate('en|en');updateSelectedLanguage(this);return false;" title="English" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/en.png" height="16" width="16" alt="en" /> English</a>
         <a href="#" onclick="doGTranslate('en|fr');updateSelectedLanguage(this);return false;" title="French" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/fr.png" height="16" width="16" alt="fr" /> French</a>
         <a href="#" onclick="doGTranslate('en|es');updateSelectedLanguage(this);return false;" title="Spanish" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/es.png" height="16" width="16" alt="es" /> Spanish</a>
         <a href="#" onclick="doGTranslate('en|hi');updateSelectedLanguage(this);return false;" title="Hindi" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/hi.png" height="16" width="16" alt="hi" /> Hindi</a>
         <a href="#" onclick="doGTranslate('en|ar');updateSelectedLanguage(this);return false;" title="Arabic" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/ar.png" height="16" width="16" alt="ar" /> Arabic</a>
         <a href="#" onclick="doGTranslate('en|zh-CN');updateSelectedLanguage(this);return false;" title="Chinese (Simplified)" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/cn.png" height="16" width="16" alt="zh-CN" /> Chinese (Simplified)</a>
         <a href="#" onclick="doGTranslate('en|de');updateSelectedLanguage(this);return false;" title="German" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/de.png" height="16" width="16" alt="de" /> German</a>
         <a href="#" onclick="doGTranslate('en|ja');updateSelectedLanguage(this);return false;" title="Japanese" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/jp.png" height="16" width="16" alt="ja" /> Japanese</a>
         <a href="#" onclick="doGTranslate('en|ru');updateSelectedLanguage(this);return false;" title="Russian" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/ru.png" height="16" width="16" alt="ru" /> Russian</a>
         <a href="#" onclick="doGTranslate('en|pt');updateSelectedLanguage(this);return false;" title="Portuguese" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/pt.png" height="16" width="16" alt="pt" /> Portuguese</a>
         <a href="#" onclick="doGTranslate('en|it');updateSelectedLanguage(this);return false;" title="Italian" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/it.png" height="16" width="16" alt="it" /> Italian</a>
         <a href="#" onclick="doGTranslate('en|ko');updateSelectedLanguage(this);return false;" title="Korean" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/kr.png" height="16" width="16" alt="ko" /> Korean</a>
         <a href="#" onclick="doGTranslate('en|nl');updateSelectedLanguage(this);return false;" title="Dutch" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/nl.png" height="16" width="16" alt="nl" /> Dutch</a>
         <a href="#" onclick="doGTranslate('en|sv');updateSelectedLanguage(this);return false;" title="Swedish" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/se.png" height="16" width="16" alt="sv" /> Swedish</a>
         <a href="#" onclick="doGTranslate('en|tr');updateSelectedLanguage(this);return false;" title="Turkish" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/tr.png" height="16" width="16" alt="tr" /> Turkish</a>
         <a href="#" onclick="doGTranslate('en|pl');updateSelectedLanguage(this);return false;" title="Polish" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/pl.png" height="16" width="16" alt="pl" /> Polish</a>
         <a href="#" onclick="doGTranslate('en|th');updateSelectedLanguage(this);return false;" title="Thai" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/th.png" height="16" width="16" alt="th" /> Thai</a>
         <a href="#" onclick="doGTranslate('en|vi');updateSelectedLanguage(this);return false;" title="Vietnamese" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/vn.png" height="16" width="16" alt="vi" /> Vietnamese</a>
         <a href="#" onclick="doGTranslate('en|cs');updateSelectedLanguage(this);return false;" title="Czech" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/cz.png" height="16" width="16" alt="cs" /> Czech</a>
         <a href="#" onclick="doGTranslate('en|da');updateSelectedLanguage(this);return false;" title="Danish" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/dk.png" height="16" width="16" alt="da" /> Danish</a>
         <a href="#" onclick="doGTranslate('en|fi');updateSelectedLanguage(this);return false;" title="Finnish" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/fi.png" height="16" width="16" alt="fi" /> Finnish</a>
         <a href="#" onclick="doGTranslate('en|el');updateSelectedLanguage(this);return false;" title="Greek" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/gr.png" height="16" width="16" alt="el" /> Greek</a>
         <a href="#" onclick="doGTranslate('en|hu');updateSelectedLanguage(this);return false;" title="Hungarian" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/hu.png" height="16" width="16" alt="hu" /> Hungarian</a>
         <a href="#" onclick="doGTranslate('en|ro');updateSelectedLanguage(this);return false;" title="Romanian" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/ro.png" height="16" width="16" alt="ro" /> Romanian</a>
         <a href="#" onclick="doGTranslate('en|sk');updateSelectedLanguage(this);return false;" title="Slovak" class="nturl"><img src="//cdn.gtranslate.net/shopify/assets/flags/16/sk.png" height="16" width="16" alt="sk" /> Slovak</a>
       </div>
</div>
<script>
  // Load Google Translate script dynamically
     function gt_loadScript(url, callback) {
       var script = document.createElement("script");
       script.type = "text/javascript";
       if (script.readyState) {
         script.onreadystatechange = function() {
           if (script.readyState === "loaded" || script.readyState === "complete") {
             script.onreadystatechange = null;
             callback();
           }
         };
       } else {
         script.onload = function() { callback(); };
       }
       script.src = url;
       document.getElementsByTagName("head")[0].appendChild(script);
     }

     // Initialize switcher functionality
     function initSwitcher() {
       const switcher = document.querySelector('.switcher');
       const selected = switcher.querySelector('.selected');
       const option = switcher.querySelector('.option');

       // Toggle dropdown on click
       selected.addEventListener('click', function(e) {
         e.preventDefault();
         option.style.display = option.style.display === 'block' ? 'none' : 'block';
         selected.querySelector('a').classList.toggle('open');
         switcher.setAttribute('aria-expanded', option.style.display === 'block');
       });

       // Close dropdown when clicking outside
       document.body.addEventListener('click', function(e) {
         if (!switcher.contains(e.target) && option.style.display === 'block') {
           option.style.display = 'none';
           selected.querySelector('a').classList.remove('open');
           switcher.setAttribute('aria-expanded', 'false');
         }
       });

       // Update selected language on page load based on current language
       const currentLang = GTranslateGetCurrentLang();
       if (currentLang) {
         const langOption = option.querySelector(`a[onclick*="'en|${currentLang}'"]`);
         if (langOption) {
           selected.querySelector('a').innerHTML = langOption.innerHTML;
         }
       }
     }

     // Update selected language display
     function updateSelectedLanguage(element) {
       const selected = document.querySelector('.switcher .selected a');
       selected.innerHTML = element.innerHTML;
     }

     // Google Translate initialization
     function googleTranslateElementInit2() {
       new google.translate.TranslateElement({ pageLanguage: 'en', autoDisplay: false }, 'google_translate_element2');
     }

     // Google Translate event handling
     function GTranslateGetCurrentLang() {
       var keyValue = document.cookie.match('(^|;) ?googtrans=([^;]*)(;|$)');
       return keyValue ? keyValue[2].split('/')[2] : null;
     }

     function GTranslateFireEvent(element, event) {
       try {
         if (document.createEventObject) {
           var evt = document.createEventObject();
           element.fireEvent('on' + event, evt);
         } else {
           var evt = document.createEvent('HTMLEvents');
           evt.initEvent(event, true, true);
           element.dispatchEvent(evt);
         }
       } catch (e) {}
     }

     function doGTranslate(lang_pair) {
       if (lang_pair.value) lang_pair = lang_pair.value;
       if (lang_pair === '') return;
       var lang = lang_pair.split('|')[1];
       if (GTranslateGetCurrentLang() == null && lang == lang_pair.split('|')[0]) return;
       if (typeof ga !== 'undefined') {
         ga('send', 'event', 'GTranslate', lang, location.hostname + location.pathname + location.search);
       } else if (typeof _gaq !== 'undefined') {
         _gaq.push(['_trackEvent', 'GTranslate', lang, location.hostname + location.pathname + location.search]);
       }
       var teCombo;
       var sel = document.getElementsByTagName('select');
       for (var i = 0; i < sel.length; i++) {
         if (/goog-te-combo/.test(sel[i].className)) teCombo = sel[i];
       }
       if (document.getElementById('google_translate_element2') == null ||
           document.getElementById('google_translate_element2').innerHTML.length == 0 ||
           teCombo.length == 0 || teCombo.innerHTML.length == 0) {
         setTimeout(function() { doGTranslate(lang_pair); }, 500);
       } else {
         teCombo.value = lang;
         GTranslateFireEvent(teCombo, 'change');
         GTranslateFireEvent(teCombo, 'change');
       }
     }

     // Load Google Translate and initialize switcher
     gt_loadScript("//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2", initSwitcher);

     // Warning for GTranslate uninstallation
     setTimeout(function() {
       if (typeof window.gtranslate_installed === "undefined" && typeof console !== "undefined") {
         console.log("To uninstall GTranslate properly please follow the instructions on https://docs.gtranslate.io/how-tos/how-to-remove-gtranslate-app-from-shopify");
       }
     }, 4000);
</script>