html,
body {
  font-family: myFontRegular, sans-serif;
}
blockquote,
.heading,
h1,
h3,
h4,
h5 .h0,
.h1,
.h3,
.h4,
.h5 {
  font-family: myFontBold, sans-serif;
}
h2,
.h2,
.heading{
  font-family: myFontMedium, sans-serif !important;
  font-weight: 500 !important;
}

h6,
.h6 {
  font-family: myFontMedium, sans-serif;
}
.button,
.shopify-challenge__button,
button.shopify-payment-button__button--unbranded,
#shopify-product-reviews .spr-summary-actions-newreview,
#shopify-pc__banner__btn-accept,
#shopify-pc__banner__btn-decline {
  font-family: myFontMedium, sans-serif;
}

/* Blogpost CSS */

.article img {
  border-radius: 2rem;
}

/* General CSS */

.mt-auto{
  margin-top: auto;
}

@media screen and (min-width: 1280px) {
  .grid-col-span-2 {
    grid-column: span 2;
  }
  .grid-col-span-5 {
    grid-column: span 5;
  }
}

/* Footer CSS */
.rte.text-sm.leading-tight a {
    white-space: nowrap;
}
@media screen and (min-width: 1280px) {
  .footer__right {
    padding-inline: clamp(var(--sp-10), 4.421vw, var(--sp-40)) !important;
  }
  .footer {
    grid-template-columns: repeat(7, minmax(0, 1fr)) !important;
  }
}
@media screen and (min-width: 768px) {
  .footer__left {
    gap: 2rem !important;
  }
}

/* Shop the feed */
.shop-the-feed .media img.loaded {
  width: 100%;
}
.grid-template-auto {
  grid-template-columns: auto auto;
}

/* Header CSS */
.mega-menu__list--tabs {
  --nav-tabs-width: min(260px, 25vw);
}
@media screen and (max-width: 769px) {
  .drawer__inner .drawer__header .button--close {
    right: 0;
    top: 15px;
    clip: unset;
    margin: 0 1rem;
    height: 40px;
    width: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .header__logo {
    height: 70px;
  }
}
@media screen and (min-width: 1380px) {
  .mega-menu__list--tabs {
    --nav-tabs-width: min(300px, 25vw);
  }
}
@media screen and (min-width: 1536px) {
  .mega-menu__list--tabs {
    --nav-tabs-width: min(320px, 25vw);
  }
}

@media screen and (min-width: 1920px) {
  .mega-menu__list--tabs {
    --nav-tabs-width: min(340px, 25vw);
  }
}

/* Image banner CSS*/
.slideshow-dots {
  border-block-start: none;
}
.slideshow-words .slideshow-word{
  max-width: 35rem;
}

/* Product image thumbnails  CSS*/
@media screen and (min-width: 1700px) {
  .product__thumbnails--beside .product__thumbnails-list {
    max-height: 700px;
  }
}
@media screen and (min-width: 1800px) {
  .product__thumbnails--beside .product__thumbnails-list {
    max-height: 800px;
  }
}
@media screen and (min-width: 1900px) {
  .product__thumbnails--beside .product__thumbnails-list {
    max-height: 870px;
  }
}

/* header nav CSS */
button.mega-menu__nav-item {
  text-align: start;
  width: max-content;
}

/* Timeline Section CSS */
.timeline-dots button {
  white-space: nowrap;
}

/* Shop the look CSS */
.shop-the--look .card.product-card {
  padding: 0 1rem;
  background-color: #fff;
}
.shop-the--look .card.product-card .product-card__content{
  background-color: #fafafa;
}

/* Sticky add to cart */
@media screen and (max-width: 767px) {
  .product-sticky-form .button {
    width: 8rem;
  }
}
.product-bundle__footer .btn-price .money {
  white-space: nowrap;
}
@media screen and (max-width: 1023px) {
  .product-bundle-wrapper > .lg\:grow-0 {
    z-index: 19;
  }
}
/* Slide show banner */
.button-12 {
  max-width: 12rem;
}

/* Product main CSS */
@media screen and (max-width: 500px) {
  .shopify-payments {
    gap: var(--sp-8);
  }
}

/* Related products CSS */
@media screen and (max-width: 639px) {
  .slider--tablet .mobile\:card-grid--1 {
    --slider-item-width: 90vw;
  }
}

/* Contact us CSS */
#shopify-section-template--16549102190654__rich_text_DCHjF6 , #shopify-section-template--16549102190654__rich_text_t7hN8a, #shopify-section-template--16549102190654__rich_text_FAcN4e {
  scroll-margin-top: 100px;
}
/* Portfolio CSS */
.h-150{
  height: 150px;
}
/* Gtranslate CSS */
.gt_float_switcher .gt-selected .gt-current-lang{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.gt-lang-code{
  font-family: myFontBold, sans-serif;
}
.gt_float_switcher {
  font-family: myFontRegular, sans-serif !important;
  font-size: 17px !important;
}
/* Omnichannel CSS */
iframe#Microsoft_Omnichannel_LCWidget_Chat_Iframe_Window {
    /* transform: translateY(50%); */
}
/* Collection banner CSS */
@media screen and (min-width: 1500px) {
  .banner__box {
    max-width: 80rem;
  }
}
/* BazaarVoice CSS */
[data-bv-show="inpage_submission"] {
  display: block !important;
}
/* Mega Menu CSS */
.mega-menu__item--tabs .mega-menu__footer {
    margin-block-start: 0;
}
#BIS_trigger{
  display:none;
}

/* Product genius */
.pg-card-product-cart button, .pg-card-product-options button{
  padding: 16px 29px !important;
  border-radius: var(--buttons-radius) !important;
}
.pg-card-section .pg-card-product-title {
    font-family: inherit !important;
}
.pg-card-product .pg-card-product-highlights .pg-card-product-highlight{
    background-color: #E11D48 !important;
    color: white !important;
    padding: 0.5rem 1rem !important;
    border-radius: 3.75rem !important;
    font-size: 1rem !important;
}
.pg-card-product-price{
  padding: 2px 0;
  padding-bottom: 2rem;
}
.pg-card-section .pg-card-product-price [data-attr="discount"] {
  display: none;
}
.pg-card-product-price .pg-card-price-attr[data-attr="slashed"] {
  position: relative;
  text-decoration: unset !important;
}
.pg-card-product-highlights {
    top: 14px;
    right: unset;
    left: 14px;
}

.pg-card-product-price .pg-card-price-attr[data-attr="slashed"]::before {
  content: '';
  position: absolute;
  inset-block-start: 50%;
  width: 100%;
  transform: rotate(-15deg);
  border-block-end: 1px solid red;
  
}
@media screen and (min-width: 769px) {
  .pg-card-product-details .pg-card-section:first-of-type{
    /* grid-template-columns: 75% 25% !important; */
  }
  .pg-card-product-price .pg-card-price-attr{
    display: block;
    /* width: 100%; */
  }
  .pg-card-section .pg-card-product-title {
    font-family: inherit !important;
    /* min-height: 65px !important; */
  }
  .pg-card-section.pg-spacing {
      max-height: 80px;
  }
  .pg-card-product-price .pg-card-price-attr[data-attr="slashed"]::before {
  /* width: 60%; */
 }
}

/* Richtext Css */
.rich-text>*+*:not(.spacing-section) {
    margin-block-start: var(--sp-2);
}

/* Featured Product */

@media screen and (min-width: 1280px) {
    .product__title.with-price .price__sale, .product__title .product__price {
        place-self: center;
    }
}
/* Product bundle card CSS */
.options-scroll{
    grid-auto-flow: column;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 1rem 2rem;
}
.options-scroll-variant-position{
  position:absolute;
  top:-33%;
  border-block-end: unset !important;
  width: 100%;

#BIS_trigger{
  display:none;
}